[submodule "resources/views/components"]
	path = resources/views/components
	url = git@github.com:Participatory-Image-Archives/pia-laravel-components.git
[submodule "app/Models"]
	path = app/Models
	url = git@github.com:Participatory-Image-Archives/pia-laravel-models.git
